/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

/* Navbar */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav-logo img {
  width: 70%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 55%;
}

.nav-link {
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
  padding-bottom: 2.7rem;
}

.nav-link:hover {
  border-bottom: 5px solid #0282F9;
  color: #0282F9;
}

/* Jumbotron */

.header-jumbotron {
  background-image: url(./assets/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

/* Main */

/* Top */

.main-top {
  background-color: black;
}

.main-top-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-top-badge {
  color: white;
  font-weight: 900;
  padding: 0.5rem 1.5rem;
  background-color: #0282F9;
  position: absolute;
  top: -25px;
  font-size: 1.2rem;

}

.comic-card {
  flex-basis: calc((100% - 5rem) / 6);
  height: 200px;
  margin-top: 3rem;
}

.comic-card figure {
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
}

.comic-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.comic-card-title {
  color: white;
  font-size: 0.8rem;
}

.main-top-button-container {
  display: flex;
  justify-content: center;
}

.main-top-button {
  color: white;
  background-color: #0282F9;
  padding: 0.5rem 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Center */

.main-center {
  background-color: #0282F9;
}

.main-center-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.main-center-link {
  color: white;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  padding: 2.5rem 0;
  gap: 1rem;
}

.main-center-link img {
  width: 20%;
}

.main-center-link a {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

/* Footer */

/* Top */

.footer-top {
  background-image: url(./assets/img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-top-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.footer-top-left {
  flex-basis: 35%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.footer-top-left-column {
  flex-basis: calc(100% / 3);
}

.footer-top-left-column h2 {
  color: white;
  padding: 1rem 0;
  font-size: 1rem;
}

.footer-top-left-column a {
  display: inline-block;
  color: grey;
  margin: 0.1rem 0;
  font-size: 0.8rem;
}

.footer-top-right {
  flex-basis: 65%;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.footer-top-right img {
  position: absolute;
  left: 67%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
}

/* Bottom */

.footer-bottom {
  background-color: #303030;
}

.footer-bottom-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.footer-bottom-btn {
  color: white;
  border: 2px solid #0282F9;
  padding: 0.7rem 0.5rem;
  font-weight: bold;
}

.footer-bottom-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer-bottom-follow {
  color: #0282F9;
  font-weight: bold;
}

;