/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.nav-logo img {
  width: 60%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 55%;
}

.nav-link {
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
  padding-bottom: 2.9rem;
}

.nav-link:hover {
  border-bottom: 5px solid #0282F9;
  color: #0282F9;
}

/* Main */

/* Top */

.main-top {
  background-color: black;
}

.main-top-container {
  width: 70%;
  margin: 0 auto;
}

.main-top-link {
  display: inline-block;
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Center */

.main-center {
  background-color: #0282F9;
}

.main-center-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-center-link {
  color: white;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  padding: 3rem 0;
  gap: 1rem;
}

.main-center-link img {
  width: 20%;
}

.main-center-link a {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;

}